@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kpop Snapshot!</h1>
    <p>Please create a new account or log in.</p>
    <h3><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Create">New User</a></h3>
    <span></span>
    <h3><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a></h3>
</div>