
@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Populate</h1>
</div>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Artist" asp-action="Index">Artist</a>
    <a href="#" class="list-group-item list-group-item-action">Album</a>
    <a href="#" class="list-group-item list-group-item-action">Idol</a>
    <a href="#" class="list-group-item list-group-item-action">Photocard</a>
    <a href="#" class="list-group-item list-group-item-action">Warehouse</a>
    <a href="#" class="list-group-item list-group-item-action">Inventory</a>
</div>