
@{
    ViewData["Title"] = "Index";
    string status = (string)ViewData["status"];
}
<div>
    <h1>Populate</h1>
</div>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Artist" asp-action="Index">Artist</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Album" asp-action="Index">Album</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Idol" asp-action="Index">Idol</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Photocard" asp-action="Index">Photocard</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Warehouse" asp-action="Index">Warehouse</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a>
</div>